.head	{height: 150px;
		background-color: lightblue;

}

#rules {
	border: 2px solid black;
	padding-top: 20px;
	padding-bottom: 16px;
	font-size: 20px;
}

.container-fluid {
	background-color: yellow;
}

#score {font-size: 25px;
		color: white;
		height: 90px;
		width: 140px;
		background-color: green;


}

#userscore {font-size: 25px;
		color: white;
		height: 90px;
		width: 140px;
		background-color: purple;
}
