.head	{height: 150px;
		background-color: lightblue;

}

#rules {
	border: 2px solid black;
	padding-top: 20px;
	padding-bottom: 16px;
	font-size: 20px;
}

.container-fluid {
	background-color: yellow;
}

#score {font-size: 25px;
		color: white;
		height: 70px;
		width: 140px;
		background-color: green;


}

#userscore {font-size: 25px;
		color: white;
		height: 70px;
		width: 140px;
		background-color: purple;
}

#wins-loses {width: 140px;
			height: 70px;
			background-color: blue;

}

h2 {color: white;

}

h1{font-size: 20px;
text-decoration: underline;	

}

#score {text-align: center;
		font-size: 80px;

}

#userscore {text-align: center;
			font-size: 80px;

}

footer {text-align: center;
	background-color: black;
	color: white;
}

#wins {color: white;

}

#loses {
	color: white;
}